@import "../../../css-config/mixins.scss";

.advantage{
    width: 100%;
    .content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #FFFFFF;
        border: 3px solid #FDB620;
        border-radius: 1rem;
        padding: 1rem;

        @include md{
            padding: 1.5rem;

        }

        .text-content{
            text-align: center;
            max-width: 60%;
            .heading{
                word-wrap: break-word;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
            }

            .desc{
                font-weight: 300;
                font-size: 12px;
                line-height: 18px;
            }
        }

        .image{
            max-width: 94px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            img{
                max-width: 94px;
                max-height: 94px;
            }
        }
    }
}