@import "../../../css-config/mixins.scss";

.tip {
    max-width: 375px;
    height: 100%;
    @include md {
        max-width: 325px;

    }

    .content {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #FFFFFF;
        border: 3px solid #FDB620;
        border-radius: 1rem;
        text-align: center;
        gap: 1rem;
        padding: 1rem;
        transition-duration: 300ms;
        &:hover{
            transform: scale(1.02);
        }
        .title {

            font-size: 1.25rem;
            font-weight: 500;
            line-height: 1.8rem;
        }

        .desc {
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5rem;
        }
    }
}