@import "../../css-config/mixins.scss";

.desc {
	.content {
		width: 90%;
		margin: 2rem auto;
		display: flex;
		flex-direction: column;

		@include lg {
			width: 75%;
			flex-direction: row;
		}

		.textContent {
            line-height: 1.5rem;
			display: flex;
			flex-direction: column;
			gap: 2rem;
			width: 100%;
			@include lg {
				width: 60%;
			}
            .topPara{
                @include lg{
                    margin-left: 1rem;
                }
            }
            h2{
                @include lg{
                    margin-left: 1rem;
                }
            }
            .secondTop{
                @include lg{
                    margin-left: 1.5rem;
                } 
            }
		}
		.cardContent {
            margin: 2rem auto;
			width: 90%;
			display: flex;
			align-items: center;
			justify-content: center;

			@include lg {
				margin-top: 0rem;

				width: 40%;
			}
			.card {
                display: flex;
                transition-duration: 300ms;
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;
				padding: 3rem;
				margin-top: 2rem;
                align-content: center;
				text-align: center;
				width: 300px;
				height: 400px;
				border-radius: 30px;
				background: #e0e0e0;
				box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
                &:hover{
                    transform: scale(1.1);
                }
                @include lg{
                    margin-top: -2rem;
                }

				img {
					width: 150px;
					border-radius: 50%;
                    margin: 0.5rem;
				}
                .name{
                    font-size: 1.2rem;
                    font-weight: 600;
                }
                .position{
                    color: #5d5d5d;
                }
			}
		}
	}
}
