@import "../../css-config/mixins.scss";
.product-container {
    width: 100%;
    .products{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        max-width: 95%;
        margin: 0 auto;
        .loading{
            margin: 0 auto;
        }
        @include md{
            max-width: 80%;
            gap: 20px;
        }
        
    }
}