@import "../../css-config/mixins.scss";
.product-container {
    width: 100%;
    // .launchDate{
    //     margin: 2rem auto;
    //     text-align: center;
    //     color: gray;
    // }
    display: flex;
    flex-direction: column;

    .pureTag{
        width: 100px;
        height: 100px;
        margin: 1rem auto;
        mix-blend-mode: multiply;
    }
    .products{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        max-width: 95%;
        margin: 0 auto;
        .loading{
            margin: 0 auto;
        }
        @include md{
            max-width: 80%;
            gap: 20px;
        }
        
    }
}