@import "../../css-config/mixins.scss";

.about {
    width: 100%;
    background-image: url("/assets/Framer-Mustard.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
    @include md {
        padding: 6rem;
    }

    .content {
        margin: 0 auto;
        display: flex;
        align-items: center;
        width: 100%;
        @include md {
            width: 80%;
        }

        .card {
            width: 100%;
            background: linear-gradient(102.43deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.32) 100%);
            box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(20px);
            /* Note: backdrop-filter has minimal browser support */
            border-radius: 16px;
            padding: 1.2rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @include sm {
                gap: 2rem;
                padding: 3rem;
                min-width: 60%;
            }
            @include xl {
                width: calc(60%);
            }
            .heading {
                text-align: center;
                font-size: 1.5rem;
                line-height: 2rem;
                font-weight: 600;
                @include md {
                    font-size: 2.2rem;
                    line-height: 3rem;
                }
            }

            .desc {
                text-align: center;
                font-weight: 300;
                font-size: 1rem;
                line-height: 1.3rem;

                @include md{
                    font-size: 1.2rem;
                    line-height: 2rem;
                }
            }
        }
    }
}
