@import "../../css-config/mixins.scss";

.tips {
    padding: 2rem 0;
    width: 100%;

    @include md {
        background-image: url('../../assets/Women\ Cooking.png');
        background-position: center;
        background-repeat: no-repeat;
    }

    .heading {
        text-align: center;
        font-size: 1.3rem;
        line-height: 2rem;
        margin-bottom: 2rem;

        @include lg {
            font-weight: 600;
            font-size: 2.25rem;
            line-height: 4rem;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 0 auto;

        @include md {
            gap: 2rem;
        }

        .top,
        .bottom,
        .middle {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
            margin: 0 auto;

            @include md {
                gap: 2rem;
                flex-direction: row;
                justify-content: space-between;
            }
        }

        .top,
        .bottom {
            @include md {
                width: 75%;
            }
        }

        .middle {
            @include md {
                width: 85%;
            }
        }
    }
}