@import "../../css-config/mixins.scss";

.disclaimer{
    width: 100%;
    padding: 2rem 0.5rem;
    @include lg{
        padding: 2rem;
    }
    .content{
        width: 90%;
        margin: 0 auto;
        @include lg{
            width: 75%;
        }

        .textContent{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            line-height: 1.5rem;
            li{
                margin-left: 2rem;
            }
        }
    }
}